<!DOCTYPE html>
<html>
<head>
  <title>Grocerylist</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <% #bootstrap %>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>

<div class="col-xs-3">
      <div class="circle">
        <br />
        Best
        <br />
        Red Dot 
        <br />
        EVER!!!
      </div>
</div>

<br class= "clear"/>
<%= yield %>

</body>
</html>
